<div id="admin-content" class="admin-content">
    <div id="admin-navigation" class="admin-navigation">
        <div id="admin-nav-item-news"
             class="nav-item"
             hx-get="{{ url_for('news_list') }}?limit={{ list_limit }}"
             hx-target="#admin-content-container"
             hx-target-errors="#content">
            Новости
        </div>
        <div id="admin-nav-item-launchers"
             class="nav-item"
             hx-get="{{ url_for('launchers_list') }}?limit={{ list_limit }}"
             hx-target="#admin-content-container"
             hx-target-errors="#content">
            Лаунчеры
        </div>
        <div id="admin-nav-item-installers"
             class="nav-item"
             hx-get="{{ url_for('installers_list') }}?limit={{ list_limit }}"
             hx-target="#admin-content-container"
             hx-target-errors="#content">
            Инсталлеры
        </div>
        <div id="admin-nav-item-users"
             class="nav-item"
             hx-get="{{ url_for('users_list') }}?limit={{ list_limit }}"
             hx-target="#admin-content-container"
             hx-target-errors="#content">
            Пользователи
        </div>
        <div id="admin-nav-item-sessions"
             class="nav-item"
             hx-get="{{ url_for('sessions_list') }}?limit={{ list_limit }}"
             hx-target="#admin-content-container"
             hx-target-errors="#content">
            Сессии
        </div>
    </div>
    <div id="admin-content-container" class="admin-content-container">

    </div>
</div>