<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teawish</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/index.css') }}">
    <script src="{{ url_for('static', path='/js/vendors/htmx.min.js') }}"></script>
    <script src="{{ url_for('static', path='/js/vendors/ext/htmx-response-targets.js') }}"></script>
    <link rel="icon" href="{{ url_for('static', path='/img/logo.svg') }}" type="image/svg+xml">
</head>
<body id="body" hx-ext="response-targets">
<div id="main-content">
    {% block main_content %}
        {% include "components/navbar.html" %}
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    {% endblock %}
</div>
<script src="{{ url_for('static', path='/js/main.js') }}"></script>
{% include "components/footer.html" %}
</body>
</html>