<div id="home-content">
    <div class="server-info-container">
        <h1>TeaWish</h1>
        <h1 class="league-season"><span class="highlight">V</span> season</h1>
        <div id="online-indicator-container"
             hx-get="{{ url_for('online_indicator') }}"
             hx-trigger="load delay:1s, every 5s"
             hx-target="#online-indicator-container"
             hx-target-error="#content">
            <!--- Empty div ensuring place until real indicator has been loaded --->
            <div id="waiting-indicator" class="server-indicator waiting"><span>Получение информации</span></div>
        </div>
        <a href="{{ url_for('download_launcher') }}" class="button" download>Скачать лаунчер</a>
    </div>
    {% if user %}
        <div id="news-container"
             class="content-container"
             hx-get="{{ url_for('get_news') }}"
             hx-trigger="load"
             hx-target="#news-container"
             hx-target-error="#content">
        </div>
    {% else %}
        <div id="form-container" class="content-container">
            {% include "components/login_form.html" %}
        </div>
    {% endif %}

</div>
