<div id="nav-container">
    <div class="nav-left-group">
        <div id="logo"
             hx-get="{{ url_for('home_page') }}"
             hx-target="#content"
             hx-target-error="#content"
             style="cursor: pointer;">
            <img src="{{ url_for('static', path='/img/logo.svg') }}" alt="Teawish">
        </div>
        <div id="site-name"
             hx-get="{{ url_for('home_page') }}"
             hx-target="#content"
             hx-target-error="#content"
             style="cursor: pointer;">
            TeaWish
        </div>
    </div>

    <div class="nav-right-group">
        {% if user and user.is_admin %}
            <div id="admin-link"
                 hx-get="{{ url_for('admin_page') }}"
                 hx-target="#content"
                 class="nav-item">
                Админ панель
            </div>
        {% endif %}
        <div id="main-page-link"
             hx-get="{{ url_for('home_page') }}"
             hx-target="#content"
             class="nav-item">
            Главная
        </div>
        {% if user %}
            <div id="user-info" class="nav-item disabled">
                {{ user.name }}
            </div>
            <div id="logout-link"
                 href="#"
                 hx-post="{{ url_for('logout') }}"
                 hx-target="#main-content"
                 hx-target-error="#content"
                class="nav-item">
                    Выйти
            </div>
        {% endif %}
    </div>
</div>